
*.7z
Однострочники_Python_лаконичный_и_содержательный_код_2022_Кристиан/Однострочники Python лаконичный и содержательный код [2022] Кристиан Майер/Однострочники Python лаконичный и содержательный код [2022] Кристиан Майер.epub
Однострочники_Python_лаконичный_и_содержательный_код_2022_Кристиан/Однострочники Python лаконичный и содержательный код [2022] Кристиан Майер/Однострочники Python лаконичный и содержательный код [2022] Кристиан Майер.pdf
Простой_Python_Современный_стиль_программирования_2021_Билл_Любанович.pdf
ttw3_1.py
